In [2]:
n=int(input('value'))
for row in range (1,n+1):
    for col in range(1,n+1):
        print('*',end='')
    print()

*****
*****
*****
*****
*****

In [8]:
#wap to print diagonal pattern
n=int(input('value'))
for row in range (1,n+1):
    for col in range(1,n+1):
        if row==col:
            print('*',end=' ')
        else:
            print(' ', end=' ')
    print()

*
  *
    *
      *
        *

1. taking for loop with range for rows
2. taking for loop with range fro cols
3. and taking condition if row ==col is satisfied then print * else skip the conditon and print ' ' 
4. at last we are using print for changing the row after compliation of loop
5. tking input as 5
6. iterations.... 
7. iterations1>>>  loop running 1st time and check the condition row and  col are equal or not......so it is equal so print *
8. iterations2>>>> loop running 2nd time and check the conditon row and  col are equla or not........so it is equal so print *
9. iterations3>>>>loop  running 3rd time and  check the conditon row and col are equal or not.........so it is equal so print*
10. iterations4>>> loop running  4th time and check the conditon row and col are equal or not ..........so it is equal so print*
11. iterations5>>>loop running 5th time and check the condition row and col are equal or not ...........so it is equal so print*

In [11]:
#wap to print reverse diagonal
n=int(input('value'))
for row in range (1,n+1):
    for col in range(1,n+1):
        if row + col == n+1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

        *
      *
    *
  *
*

1. taking input from user 
2. taking for loop for rows 
3. taking for loop for cols
4. taking if condition to check row+col==n+1 or not
5. if condition satisfied then print * else print ' '
6. at last print is used for print in next line
7. taking input as 5
8. executions......
9. iteration1>>> loop run 1st time and check the conditon 1+5==6 or not ....so it is satisfied the conditon *so print *
10. iteration2>>> loop run 2nd time and check the conditon2+4==6 or not....so it is satisfied the condition so print * 
11. iteration3>>> loop run 3rd time and check the conditon 3+3==6 or not....so it is satisified the condition so print *
12. iteration4>>> loop run 4th time and check the condition 4+2==6 or not... so it is satisfied the condition so print *
13. iteration5>> loop run 5th time and check the condition 5+1===6 or not... so it is satisfied the condition so print *

In [12]:
#wap to print X pattern 
n=int(input('value'))
for row in range(1,n+1):
    for col in range(1,n+1):
        if  row==col or row +col==n+1:
            print('*', end=' ')
        else:
            print(' ',end=' ')
    print()

*       *
  *   *
    *
  *   *
*       *

1. taking input form user
2. taking for loop for rows 
3. taking for loop for col
4. taking if conditon and checking row==col or row+col==n+1 or not if conditon satisfied than print * else print ' '
5. at last print is used for next line
6. itearations......
7. iteration1>>>> loop is running 1st time and check the condition 1==1 or 1+5==6 or not ...so condition satisfied so print  *     *
8. iteration2>>>> loop is running 2nd time and check the condition  2==2 or 2+4==6 or not... so condition satisfied so print  *  * 
9. iteration3>>> loop is running 3rd time and check the condition 3==3 or 3+3=6 or not... so condition satisfied so print       *
10. iteration4>>>loop is running 4th time and check the condition 4==4 or 4+2=6 or not... so condition satisfied so print     *   *
11. iteration5>>> loop is running 5th time and check the condition 5==5 or 5+1=6 or not... so condition satisfied so print  *       *

In [13]:
#wap to print right angle triangle pattern
n=int(input('value'))
for row in range(1,n+1):
    for col in range(1,n+1):
        if row>=col:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [32]:
#wap to print right angle triangle

n=int(input('value'))
for row in range(1,n+1):
    for col in range(1,n+1):
        if row+col>=n+1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [35]:
n=int(input('value'))
for row in range(1,n+1):
    for col in range(1,n+1):
        if row<=col:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [36]:
n=int(input('value'))
for row in range(1,n+1):
    for col in range(1,n+1):
        if row+col<=n+1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [38]:
n=int(input('value'))
space=0
star=1
for row in range(1,n+1):
    for sp in range(1,space+1):
        print('',end=' ')
    for st in range(1,star+1):
            print('*',end=' ')
    print()
    space+=1

*
 *
  *
   *
    *

In [42]:
n=int(input('value'))
star=1
space=n-1
for row in range(1,n+1):
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print('*',end=' ')
    print()
    space-=1

        *
      *
    *
  *
*

In [2]:
n=int(input('value'))
star =n
space=0
for row in range(1,n+1):
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print('*',end=' ')
    print()
    space+=1
    star-=1

* * * * *
  * * * *
    * * *
      * *
        *

In [3]:
n=int(input('value'))
space=n//2
star=1
for row in range(1,n+1):
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print('*',end=' ')
    print()
    if row<=n//2:
        star+=2
        space-=1
    else:
        star-=2
        space+=1

    *
  * * *
* * * * *
  * * *
    *

In [14]:
n=int(input('Value'))
star =1
for row in range(1,n+1):
    for st in range(1,star+1):
        print('*',end=' ')
    print()
    if row<=n//2:
        star+=1
    else:
        star-=1

*
* *
* * *
* *
*

In [16]:
n=int(input('value'))
space=n//2
star=1
for row in range(1,n+1):
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print('*',end=' ')
    print()
    if row <=n//2:
        star+=1
        space-=1
    else:
        star-=1
        space+=1

    *
  * *
* * *
  * *
    *

In [20]:
n=int(input('value'))
dummy=1
for row in range(1,n+1):
    for col in range(1,n+1):
        print(dummy,end=' ')
    
    print()
    dummy+=1

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

#21  in this patter colwise incrementation is happeing and value carried in next row  so
we have to define variable outside the outer loop and incrementation in inner of outer loop

In [21]:
n=int(input('value'))
dummy=1
for row in range(1,n+1):
    for col in range(1,n+1):
        print(dummy,end=' ')
        dummy+=1
    print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

#23 in this patern colwise incrementation is happeing and value is reinitialized in next row so we have to take variable inside the outer loop and incrementation in inside the outer loop

In [23]:
n=int(input('value'))
for row in range(1,n+1):
    dummy=1
    for col in range(1,n+1):
        print(dummy,end=' ')
        dummy+=1
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

#27 in this pattern row wise incrementation is happening and value carried to next line so we have to take variable outside the outer loop and incrementation outside the outer loop

In [4]:
n=int(input())
star=1
dummy=1
for row in range(1,n+1):
    for col in range(1,star+1):
        print(dummy,end=' ')
        
    print()
    star+=1
    dummy+=1

1
2 2
3 3 3
4 4 4 4

#28 in this code rowwise incrementation is happening and incremented value carred to next line 
so we have to take variable outside the outer loop and incrementation in inside the outer loop

In [28]:
n=int(input('value'))
star=1
dummy=1
for row in range(1,n+1):
    for col in range(1,star+1):
        print(dummy,end=' ')
        dummy+=1
    print()
    star+=1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

in this code row  wise incrementation is happening and value carried to next line so we have to take variable outside the outer loop and incremenetation in inside the outer loop

In [29]:
n=int(input())
space=n-1
star=1
dummy=1
for row in range(1,n+1):
    for sp in range(1,space+1):
        print(' ',end=' ')
    for col in range(1,star+1):
        print(dummy,end=' ')
        dummy+=1
    print()
    star+=1
    space-=1

        1
      2 3
    4 5 6
  7 8 9 10
11 12 13 14 15

#32 in this patern colwise incrementation is happening and reinitialized with 1st row values
so we have to take varialble inside the outer loop and incrementation is inside the outer loop

In [32]:
n=int(input())
for row in range(1,n+1):
    dummy=row
    for col in range(1,n+1):
        print(dummy,end=' ')
        if row%2==0:
            dummy+=1
        else:
            dummy+=2
    print()

1 3 5 7 9
2 3 4 5 6
3 5 7 9 11
4 5 6 7 8
5 7 9 11 13

#33 in this patern colwise incrementation is happening and reinitiailized with 1st row value
so we have to take variable inside the outer loop and incrementation in inside the outer loop

In [33]:
n=int(input())
for row in range(1,n+1):
    dummy=row
    for col in range(1,n+1):
        print(dummy,end=' ')
        dummy+=row
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

in this patern colwise incrementation is happeing and value carried to the next line
so we have to take variable outside the outer loop and incremented value inside the loop

In [37]:
n=int(input())
dummy=1
star=n
for row in range(1,n+1):
    for col in range(1,star+1):
        print(dummy,end=' ')
        if row %2==1:
            dummy+=1
        else:
            dummy-=1
    print()
    star-=1

1 2 3 4 5
6 5 4 3
2 3 4
5 4
3

in this patern col wise incrementation is happen and value reinitialized so we have to take varialble inside the outer loop and incrementation is inside the loop

In [43]:
n=int(input())
star=1
space=n-1
for row in range(1,n+1):
    dummy=1
    for sp in range(1,space+1):
        print(' ',end=' ')
    for st in range(1,star+1):
        print(dummy,end=' ')
        dummy+=1
    print()
    space-=1
    star+=2

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [2]:
n=int(input('value'))
num=1
dummy=1
for rwo in range(1,n+1):
    for col in range(num+1):
        print(dummy,end=' ')
print()
num+=1
dummy+=1

1 1 1 1 1 1 1 1